.services_image {
    background-image: url('./../../assets/images/Our\ services.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.row-height-2 {
    height: 700px;
    margin-top: 50px;
}

.icons-list-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

// .icons-row {
//     flex-direction: column;
// }

.Forma_1 {
    color: #cf38ef;
}

.first-icon-image {
    width: 100%;
    height: 100%;
    color: #cf38ef;
}

.central-dot {
    color: #cf38ef;
}